---
layout: post-light-feature
image:
  feature: pink-radio.jpg
---
<a name="blog"></a>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
        <header class="post-header">
          <hgroup>
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <p class="date">{{ post.date | date: "%b %d, %Y" }}</p>
            <p class="intro">{% if post.description %}{{ post.description }}{% else %}{{ post.tagline }}{% endif %}</p>
          </hgroup>
        </header>
  <div class="content">
    {{ post.content }}
    <a class="share" href="{{ post.url | prepend: site.url }}">Link</a></br>
    <a class="share" href="{{ post.url | prepend: site.url }}#comments">Talk</a></br>
    <a class="share" href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ site.url }}{{ post.url }}%20via%20&#64;{{ site.owner.twitter }}" data-dnt="true">Tweet</a><br>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
{% endfor %}

<!-- Pagination links -->

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}#blog">&laquo; Previous</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}#blog">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}#blog">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}#blog">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}