---
layout: default
title: Home
---

<header class="{% if page.dark %}dark{% else %}clean{% endif %}" style="background-image: url({% if page.image %}{{ page.image }}{% else %}{{ site.cover }}{% endif %});{% if page.background_position %} background-position: {{ page.background_position }};{% endif %}height: 100%;">
	{% include top.html %}
	<div id="post-info">
		<center><h3>craig eley dot com</h3></center>
	</div>
	<div id="nav-icon" style="bottom: 60px;">
		<a class="scroll" data-speed="1000" href="#blog"><span class="genericon genericon-expand"></span></a>
	</div>
</header>
<div id="article">
<a name="blog"></a>
	{% for post in paginator.posts %}
		<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		<center><span class="post-date">{{ post.date | date_to_long_string }}</span></center>
		  <div class="content">{{ post.content }}</div>
		  <center><a href="{{ site.url }}/#blog"><span class="genericon genericon-home"></span></a>&nbsp;&nbsp;&nbsp;<a href="{{ site.url }}"><span class="genericon genericon-twitter"></span></a>&nbsp;&nbsp;&nbsp;<a href="{{ site.url }}"><span class="genericon genericon-chat"></span></a></center>
	{% endfor %}
</div>
<nav class="pagination" role="navigation">
	{% if paginator.next_page %}
		<a class="newer-posts" href="/page{{paginator.next_page}}#blog">&larr; Older posts</a>
	{% endif %}
	<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.previous_page %}
		{% if paginator.page == 2 %}
			<a class="older-posts" href="/#blog">Newer posts &rarr;</a>
		{% else %}
			<a class="older-posts" href="/page{{paginator.previous_page}}#blog">Newer posts &rarr;</a>
		{% endif %}
	{% endif %}
</nav>
