<!-- The About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-offset-2">
                    <div class="team-member">
                        <img src="img/team/{{ site.people[0].pic }}.png" class="img-responsive img-circle" alt="">
                        <h4>{{ site.people[0].name }}</h4>
                        <p class="text-muted">{{ site.people[1].position }}</p>
                        <ul class="list-inline social-buttons">
                        {% for network in site.people[0].social %}
                        <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                        {% endfor %}
                        </ul>
                         <p>I'm a project administrator, sound enthusiast, and cultural historian based in Madison, Wisconsin. I have a Ph.D. in American Studies from the University of Iowa, and have held research fellowships at the Smithsonian Institution and the Penn State Institute for the Arts and Humanities. Current status: advocating for and negotiating public humanities scholarship and career paths. You can find my academic CV <a href="/cv">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>  
    </section>