<!-- Projects Section -->
    <section id="projects" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">A brief synopsis of works-in-progress.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Public Humanities</h4>
                    <p class="text-muted">I'm currently working for the UW-Madison <a href="http://humanities.wisc.edu" target="_blank">Center for the Humanities</a> and the <a href="http://chcinetworks.org" target="_blank">Consortium for Humanities Centers and Institutes</a> on issues related to funding and promoting innovative public humanities scholarship.</p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bookmark fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Teaching and Research</h4>
                    <p class="text-muted">My research and teaching interests center around sound, technology, the arts, and the environment. I'm a member of the <a href="http://soundstudies.wisc.edu" target="_blank">sound studies working group</a> at UW-Madison and am on the editorial board of the <a href="http://www.artsofthepresent.org/#!journal/component_41229" target="_blank">ASAP/Journal</a>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Soundworks</h4>
                    <p class="text-muted">I'm an independent radio producer who formerly held an <a href="http://www.acls.org/research/fellow.aspx?cid=96c727f4-8ee6-e311-b11c-000c29a3451a" target="_blank">ACLS Public Fellowship</a> at <a href="http://itunes.com/ttbook" target="_blank" title="To the Best of Our Knowledge on iTunes">To the Best of Our Knowledge</a>, where I produced digital and broadcast content. Up next: developing a podcast.</p>

                </div>
            </div>
        </div>
    </section>
