<!-- Projects Section -->
    <section id="projects" class="bg-dark-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">A very concise list of what's cooking.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Radio</h4>
                    <p class="text-muted">I'm currently <a href="http://www.acls.org/research/fellow.aspx?cid=96c727f4-8ee6-e311-b11c-000c29a3451a">ACLS Public Fellow</a> working for <a href="http://ttbook.org" title="To the Best of Our Knowledge">To the Best of Our Knowledge</a>, a show produced by <a href="!g" title="Wisconsin Public Radio">Wisconsin Public Radio</a>. I'm working on digital, social, and broadcast content.</p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Teaching and Research</h4>
                    <p class="text-muted">My research and teaching interests center around sound, technology, the arts, and the environment. I'm currently one of the organizers of the new <a href="www.soundstudies.wisc.edu">working group on sound studies</a> here at UW-Madison. I'm also on the editorial board of the <a href="http://www.artsofthepresent.org/#!journal/component_41229">ASAP/Journal</a>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Writing</h4>
                    <p class="text-muted">I'm currently working on a book manuscript that traces the history of environmental recording practices in the United States and examines their impact in American culture.</p>
                </div>
            </div>
        </div>
    </section>
