<section id="sounds" class="bg-darkest-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-muted">Sounds</h2>
            </div>
                <div class="col-lg-8 col-sm-offset-2">
                <h4 class="service-heading text-center text-white">In Record Time</h4>

				<p class="text-white">In Record Time is a new segment for To the Best of Our Knowledge that I'm working on with Henry Sapoznik. He's the director of the <a href="http://mayrentinstitute.wisc.edu" target="_blank">Mayrent Institute for Yiddish Culture</a>, a ravenous record collector, and a talented radio producer. We started these in early 2016 and are having a blast. This was our first segment:</p>

                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/243294741&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

				<h4 class="service-heading text-center text-white">Audio Essays</h4>

				<p class="text-white">Don't we all sort of wish we were <a href="http://thememorypalace.us" target="_blank">Nate DiMeo?</a> I've been messing around with audio essays since very early on in graduate school (2006 or so?), and while I haven't perfected my form or had a chance to make very many, I'm hoping to do some more.</p>

                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/188054360&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

				<h4 class="service-heading text-center text-white">Field Noise Mix Series</h4>

				<p class="text-white">The Field Noise mix series was a non-narrated music and found sound podcast that I ran for a few installments in 2011-2012. In current podcasting parlance it's a mini-series, but really I just stopped making them at some point. Maybe one day I'll start working on Season 2.</p>

    			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/176280536&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
				</div>
        </div>
    </div>
</section>