<!DOCTYPE html>
<html>

  {% include head.html %}
    <body id="page-top" class="index">

    {% include page-header.html %}
      <section id="stuff" class="bg-light-gray">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-offset-2">
                {{ content }}
                <br><br>
                Last updated: Feb 20, 2016 at 11:54AM
            </div>
        </div>
      </div>
      </section>
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>



