---
layout: default
article: true
---

<header class="{% if page.dark %}dark{% else %}clean{% endif %}" style="background-image: url({% if page.image %}{{ page.image }}{% else %}{{ site.cover }}{% endif %});{% if page.background_position %} background-position: {{ page.background_position }};{% endif %}height: 100%;">
	{% if page.video %}
		<video id="bg-video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
			{% if page.video_webm %}<source src="{{ page.video_webm }}" type="video/webm">{% endif %}
			{% if page.video_ogv %}<source src="{{ page.video_ogv }}" type="video/ogg ogv">{% endif %}
			{% if page.video_mp4 %}<source src="{{ page.video_mp4 }}" type="video/mp4">{% endif %}
		</video>
	{% endif %}
	{% include top.html %}
	<div id="post-info">
		<h1>{{ page.title }}</h1>
		{% if page.quote %}
			<h2>{{ page.quote }}</h2>
		{% endif %}
		<center>{{ page.date | date_to_long_string }}</center>
	</div>
	<div id="nav-icon" style="bottom: 60px;">
		<a class="scroll" data-speed="1000" href="#article"><span class="genericon genericon-expand"></span></a>
	</div>
</header>
<div id="article">
	{{ content }}
<div id="base-icon">
<center><a href="{{ site.url }}"><span class="genericon genericon-home"></span></a>&nbsp;&nbsp;&nbsp;<a href="{{ site.url }}"><span class="genericon genericon-twitter"></span></a>&nbsp;&nbsp;&nbsp;<a href="{{ site.url }}"><span class="genericon genericon-chat"></span></a></center>
</div>
</div>

<script src="/assets/js/smooth-scroll.js"></script>